@charset "UTF-8";
@import url(./reset.css);
@font-face {
  font-family: "Hack";
  src: local("Hack Regular"), local("Hack-Regular"), url("../fonts/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Courier Prime Code";
  src: local("Courier Prime Code"), local("CourierPrimeCode"), url("../fonts/CourierPrimeCode.woff2") format("woff2"), url("../fonts/CourierPrimeCode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  --outline-width: .3rem;
  font-size: 0.520834vw;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 1.302083vw;
  }
}

body {
  position: relative;
  font-family: "Hack", monospace;
  font-size: 1.8rem;
  line-height: 1.3em;
  letter-spacing: 0.005em;
  margin: 1.25em;
  -webkit-print-color-adjust: exact !important;
}
@media print {
  body {
    font-size: 2.8rem;
    line-height: 1.125;
  }
}

.me {
  display: inline-flex;
  margin-top: 1em;
  margin-left: 4.5em;
  height: 15ch;
}
@media print {
  .me {
    position: absolute;
    right: 0;
    top: 0;
    height: 13.5ch;
  }
}

.intro {
  display: inline-block;
}
.intro strong {
  font-size: 1.075em;
}
.intro .important {
  display: inline-block;
  background: #f6e58d;
  padding: 0.3em 0.5em 0.15em;
}
.github {
  display: inline-flex;
  align-items: center;
  box-shadow: none;
}
.github:hover, .github:focus {
  box-shadow: none;
  fill: #007bc1;
}
.github svg {
  height: 2.4ch;
  line-height: 1.5;
  margin-top: -0.1em;
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
}

kbd,
code,
i.marked {
  background-color: #eee;
  display: inline-block;
  border-radius: 0.25em;
  padding: 0.2em 0.5em 0.2em;
  font-family: inherit;
  font-size: 0.9em;
  color: #333;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}
kbd:focus-within,
code:focus-within,
i.marked:focus-within {
  outline: .3rem solid rgba(0, 123, 193, 0.25);
  outline: var(--outline-width) solid rgba(0, 123, 193, 0.25);
  outline-offset: 0.15em;
}
kbd a,
code a,
i.marked a {
  box-shadow: none;
}

p {
  margin-bottom: 0.4em;
}
p.no-margin {
  margin: 0;
  margin-bottom: 0.2em;
}

address {
  font-style: normal;
}
address p {
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}
address p:first-of-type {
  margin-top: 0;
}

button[aria-expanded] {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  box-shadow: 0 .3rem 0 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 var(--outline-width) 0 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
button[aria-expanded]:focus {
  outline: 0;
  border-radius: .3rem;
  border-radius: var(--outline-width);
  box-shadow: 0 0 0 .3rem rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 0 var(--outline-width) rgba(0, 0, 0, 0.55);
}
button[aria-expanded]::after {
  content: " ↓";
}
@media print {
  button[aria-expanded] {
    display: none;
  }
  button[aria-expanded] + * {
    display: block;
  }
}
button[aria-expanded][aria-expanded=true] {
  margin-bottom: 0.5em;
}
button[aria-expanded][aria-expanded=true]::after {
  content: " ↑";
}

@media print {
  .collapsible {
    display: block;
  }
}
.collapsible ul {
  margin-bottom: 0.4em;
}
.collapsible p:first-of-type {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: "Courier Prime Code", monospace;
}

h1 {
  font-family: "Hack", monospace;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 2.25em;
}
@media print {
  h1 {
    margin: 0 0.1em;
  }
}

h2,
h3,
h4 {
  margin: 1em 0 0.35em;
}

h4 {
  margin-bottom: 0.4em;
  font-size: 1.35em;
}

h3 {
  font-family: "Hack", monospace;
  font-size: 0.9em;
  font-weight: normal;
}
h3 strong {
  font-size: 1.2em;
  font-weight: bold;
}

h3 + small,
h4 + small {
  display: block;
  margin-bottom: 0.5em;
  line-height: 1.1;
}

ul,
ol {
  margin: 0;
  margin-bottom: 0.35em;
  padding-left: 2.75em;
  list-style: "→ ";
}
ul.timeline,
ol.timeline {
  display: flex;
  flex-direction: column;
  list-style: decimal-leading-zero;
  padding: 0;
  padding-left: 2em;
}
ul.inline,
ol.inline {
  padding: 0;
  margin-top: -0.4em;
  margin-bottom: 0.7em;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.75ch;
  list-style: none;
}
ul.inline li::after,
ol.inline li::after {
  content: ",";
}
ul.inline li:last-child::after,
ol.inline li:last-child::after {
  display: none;
}
ul.two-columns,
ol.two-columns {
  width: 33em;
  -moz-column-count: 2;
       column-count: 2;
  line-height: 1.45;
}

a {
  box-shadow: 0 .3rem 0 0 rgba(0, 123, 193, 0.25);
  box-shadow: 0 var(--outline-width) 0 0 rgba(0, 123, 193, 0.25);
  color: #007bc1;
  text-decoration: none;
}
a:hover {
  box-shadow: 0 .3rem 0 0 rgba(0, 123, 193, 0.75);
  box-shadow: 0 var(--outline-width) 0 0 rgba(0, 123, 193, 0.75);
}
a:focus {
  outline: 0;
  border-radius: .3rem;
  border-radius: var(--outline-width);
  box-shadow: 0 0 0 .3rem rgba(0, 123, 193, 0.25);
  box-shadow: 0 0 0 var(--outline-width) rgba(0, 123, 193, 0.25);
}
@media print {
  a {
    box-shadow: none;
  }
}

.projects {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 55em;
  width: 100%;
  gap: 2em;
}
@media screen and (max-width: 768px) {
  .projects {
    width: unset;
  }
}

.project {
  display: flex;
  flex-direction: column;
}
.project h4 {
  margin-top: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.project figure {
  position: relative;
  padding: 0.25em 0;
  display: flex;
  align-items: flex-start;
  gap: 1.75em;
  width: 17em;
  aspect-ratio: 1.7777;
}
@media screen and (max-width: 768px) {
  .project figure {
    flex-direction: column;
  }
}
.project figure[aria-expanded=true] {
  max-height: initial;
}
.project figure a {
  overflow: hidden;
  max-width: 26ch;
  aspect-ratio: 16/9;
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .project figure a {
    max-width: unset;
    max-height: 30ch;
  }
}
.project figure a:hover, .project figure a:focus {
  border-radius: .3rem;
  border-radius: var(--outline-width);
  box-shadow: 0 0 0 .3rem rgba(0, 123, 193, 0.25);
  box-shadow: 0 0 0 var(--outline-width) rgba(0, 123, 193, 0.25);
}
.project figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project figure figcaption {
  display: inline-block;
  display: none;
}
.project figure button {
  background: none;
  border: none;
  padding: 0 0.25em;
  box-shadow: 0 .3rem 0 0 rgba(0, 0, 0, 0.55);
  box-shadow: 0 var(--outline-width) 0 0 rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.project figure button::after {
  content: " ↓";
}
.project figure button[aria-pressed=true]::after {
  content: " ↑";
}
.project figure button:focus {
  outline: 0;
  border-radius: .3rem;
  border-radius: var(--outline-width);
  box-shadow: 0 0 0 .3rem rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 0 var(--outline-width) rgba(0, 0, 0, 0.55);
}

@media print {
  .hide-print {
    display: none;
  }
}

.sm-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .sm-only {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

.incredible-absolutely-phenomenal {
  margin-top: 100rem;
}